.About{
    text-align: center;
    margin-top: 6em;
    font-size: 2.5em;
    color: var(--black);
}

.AboutUs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4em;
    gap:2em
}

.happyClient{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.happyClient>div{
    background: white;
    width: 14em;
    height: 12em;
    text-align: center;
    padding-block:3em;
}

.happyClient>div>h1{
    color: var(--pink);
    font-size: 2.5em;
    font-weight: bolder;
}

.aboutMe>button{
    width: 100%;
}

.aboutMe>h4{
    color: var(--pink);
    letter-spacing: 0.1em;
}

.aboutMe>h1{
    color: var(--black);
    font-size: 2.3em;
}

.aboutMe>p{
    color: var(--ash);
}

.info{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-bottom: 3em;
}

.info>div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 2.5em;
    font-weight: bold;
}

.qualification{
  grid-column: span 2
}

.skills{
    text-align: center;
    color: var(--pink);
    font-weight: 700;
}

.skillsAcquired{

}

.skillLevelContainer{
    /* rounded-xl bg-altBgMedium mt-3 */
    border-radius: 28px;
    margin-top : 6px;
    background-color: rgb(164, 162, 162);
    height: 10px;
}

.skillLevel{
    /* bg-textLight w-[80%] py-1 rounded-xl */
    border-radius: 28px;
    background-color: var(--pink);
    height: 10px;
}

@media only screen and (max-width:992px) {
.AboutUs{
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;

}

.happyClient{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    position: relative;
}

.happyClient>div{
    background: white;
    width: 97%;
    height: 12em;
    text-align: center;
    padding-block:3em;
}
.qualification{
  grid-column: span 1
}
.info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    margin-bottom: 3em;
}

.info>div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 2.5em;
    font-weight: bold;
}
}




