.section{
    margin-inline: auto;
    width: 70%;
}



.header{
    font-weight: bolder;
    font-size: 1.5em;
    padding-block:1em 6em ;
    margin-bottom: 0;
}

.web{
    color: rgb(254, 160, 176);
    font-weight: bolder;
    letter-spacing: 0.2em;
}
h1{
    
    font-size: 5.7em;
    font-weight:bolder;
    color: #222222;
    line-height: 1em;
    padding-bottom: 0.5em;
}

footer{
    color: hsl(227, 24%, 66%);
    position: absolute;
    bottom: 1em;
}

span{
    color:rgb(254, 160, 176);
}

@media only screen and (max-width:992px) {
    .section{
        z-index: 1;
    }
    h1{
        font-size: 3em;
    }
    .house{
        position: absolute;
        margin: auto;
    }
}